*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: ExoThin;
	src: url(fonts/exo/Exo2.0-Thin.otf);
}
@font-face{
	font-family: ExoRegular;
	src: url(fonts/exo/Exo2.0-Regular.otf);
}
@font-face{
	font-family: ExoMedium;
	src: url(fonts/exo/Exo2.0-Medium.otf);
}
@font-face{
	font-family: MeryadProRegular;
	src: url(fonts/MyriadPro-Regular.eot);
}
html{
	font-family: ExoRegular; 
}
.block{
	width: 100%;
	width: 1440px;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
}

/*--------header-------------*/
.video_bg{
	position: relative;
	background: url(video_bg.png);
	background-size: cover;
	width: 100%;
	height: 810px;
}
.video_bg > video{
	position: relative;
	z-index: 0;
}
.conteiner_overlay{
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}
.slogan{
	font: 50pt ExoThin;
	text-align: center;
	color: #282828;
	margin-bottom: 60px;
	opacity:
}
.play_video_icon:hover{
	opacity: .6;
}
.try_now_button{
	height: 50px;
	width: 190px;
	color: #ffffff;
	background-color: #ff6d6d;
	font: 12pt ExoRegular;
	text-align: center;
	letter-spacing: 4px;
	line-height: 2;
	border-radius: 4px;
	border: none;
	margin-top: 40px;
	margin-bottom: 20px;
}
.try_now_button:hover{
	background-color: #f05757;
}
.under_button{
	color: #282828;
	font: 10pt ExoRegular;
	opacity: .6;
}

/*--------description section------*/
.description{
	display: flex;
	flex-flow: row nowrap;
}
.text{
	width: 870px;
	background-color: #fff;
}
.text_conteiner{
	margin: 190px 150px 170px 150px;
	text-align: left;
}
.red_text{
	color: #ff6d6d;
	font: 10pt ExoMedium;
	letter-spacing: 4px;
	margin-bottom: 18px;
}
.black_text{
	color: #282828;
	font: 34pt ExoMedium;
	margin-bottom: 55px;
}
.red_dots{
	color: #ff6d6d;
}
.normal_text{
	color: #282828;
	opacity: 0.66;
	font: 14pt MeryadProRegular;
	margin-top: 40px;
}
.colors{
	width: 570px;
	background-color: #ececec;
	position: relative;
}
.colors:before{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	bottom: 0;
	right: 0;
	
	border-bottom: 242.5px solid #ff6d6d;
	border-right: 285px solid #ff6d6d;
	border-top: 242.5px solid #ececec;
	border-left: 285px solid #ececec;
}

/*-----features section-------*/
.new_features{
	width: 100%;
	background: url(section3_bg.png);
	background-position: 0 -30px;
	background-color: #f6f5f3;
	background-size: cover;
	overflow: hidden;
}
.features_wrapper{
	text-align: center;
	margin: 140px 160px 160px 185px;
}
.features_conteiner{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
}
.feature_name{
	font-size: 18pt;
	margin-bottom: 0;
	line-height: 2em;
}
.feature_description{
	margin-top: 0;
}
.icon{
	height: 65px;
	width: 65px;
}

